:root {
    --color_first:#1ec36dd9;
    --color_second:#f0f0f0;
    --color_succes:#2ecc71;
    --color_error: #e74c3c;
    --white: #ffffff;
  }
.form-group{
    position: relative;
}
.form-group label{
    display: inline-block;
}
.form-group i{
    position: absolute;
    top: 36px;
    right: 9px;
    visibility: hidden;
}
.form-group.success input{
    border: 2px solid var(--color_succes);
}
.form-group.success i.fa-circle-check{
    color: var(--color_succes);
    visibility: visible;
}

.form-group.error input{
    border: 2px solid var(--color_error);
}
.form-group.error i.fa-circle-exclamation{
    color: var(--color_error);
    visibility: visible;
}

.form-group.error small{
    color: var(--color_error);
}
#formwi{
    border: 2px black solid;
    background-color: red ;
    width: 90px;
}